body {
    font: 16px/1.5 "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif, 'Microsoft Yahei', Simsun;
    max-width: 10rem;
    margin: 0 auto;
}

.public_header {
    height: 1.4375rem;
    width: 100%;
    background-color: #ffd600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.public_header > div {
    height: 100%;
    box-sizing: border-box;
    padding: 0.9375rem 0.2rem 0;
    font-size: 0.25rem;
}

.header_richScan {
    background: url("../../public/img/richScan.png") center 0.25rem no-repeat;
    background-size: 0.6250rem;
}

.header_search {
    background: url("../../public/img/header_search.png") center 0.25rem no-repeat;
    background-size: 0.6250rem;
}

.public_header > p {
    font-weight: 400;
    font-size: 0.4063rem;
    position: relative;
}

.public_header > p:after {
    content: "";
    width: 0;
    height: 0;
    border-color: #000000 transparent transparent transparent;
    border-width: 0.2813rem 0.1250rem;
    border-style: solid;
    position: absolute;
    top: 0.2rem;
    right: -0.3125rem;
}

.main {
    position: absolute;
    top: 1.4375rem;
    bottom: 0;
    overflow: scroll;
    width: 10rem;
    max-width: 10rem;
    padding-bottom: 1.5625rem;
    background-color: #efefef;
}

.banner {
    width: 100%;
    height: 3.7187rem;
    padding-bottom: 0.3125rem;
    background-color: #efefef;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: contain;
}

.swiper-pagination {
    display: flex;
    justify-content: flex-end;
}

.swiper-pagination-bullet {
    background: #ffffff;
    width: 0.1875rem;
    height: 0.1875rem;
}

.swiper-pagination-bullet-active {
    background-color: #ffd600;
}

.channel {
    height: 4.9218rem;
    width: 100%;
    background-color: #efefef;
    padding-bottom: 0.3125rem;
}

.channel > ul {
    padding: 0.3125rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 2px solid #e0e0e0;
    background-color: #ffffff;
}

.channel > ul > li {
    width: 25%;
    height: 50%;
}

.channel a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: center top no-repeat;
    background-size: contain;
    padding-top: 1.6rem;
    box-sizing: border-box;
    text-align: center;
    color: #000000;
    font-size: 0.3750rem;
}

.headline {
    width: 100%;
    height: 1rem;
    background-color: #efefef;
    padding-bottom: 0.3125rem;
}

.headline_warp {
    width: 100%;
    height: 100%;
    padding: 0.1563rem 0;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
}

.headline_warp img {
    height: 100%;
    width: auto;
    vertical-align: top;
}

.nav_logo {
    position: relative;
    width: 24%;
}

.nav_logo:after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #e0e0e0;
    top: 0;
    right: 0;
}

.headline_content {
    width: 76%;
    position: relative;
}

.headline_content ul {
    height: 100%;
    padding-left: 18%;
    display: flex;
    align-items: center;
}

.headline_content a {
    font-size: 0.3438rem;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headline_content ul:before {
    content: '防霾';
    position: absolute;
    display: inline-block;
    border: 2px solid #ff0000;
    border-radius: 3px;
    width: 0.8750rem;
    height: 0.4375rem;
    font-size: 0.3125rem;
    color: #ff0000;
    text-align: center;
    left: 3%;
    top: 12%;
    line-height: 1.2;
}

.adv1, .adv2 {
    width: 100%;
    height: 4.3437rem;
    background-color: #efefef;
    padding-bottom: 0.3125rem;
}

.adv1_warp, .adv2_warp {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
}

.adv1_warp figure {
    width: 33.3333%;
    padding: 0 .25rem;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
    text-align: center;
}

.adv1_warp figure figcaption:nth-child(1) {
    padding-top: 0.3125rem;
    color: #5bbbe2;
    font-size: 0.3750rem;
}

.adv1_warp figure figcaption:nth-child(2) {
    font-size: 0.3125rem;
    color: #bbbbbb;
    padding-bottom: 0.1rem;
}

.adv1_warp figure img {
    width: 100%;
    height: auto;
}

.adv1_warp figure:first-child {
    border: none;
}

.adv2 {
    height: 4.0372rem;
}

.adv2_warp {
    flex-wrap: wrap;
}

.adv2_warp > div {
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    vertical-align: top;
    padding-left: 0.1875rem;
    box-sizing: border-box;
}

.adv2_warp div:nth-child(1) {
    border: solid #e0e0e0;
    border-width: 0 2px 2px 0;
}

.adv2_warp div:nth-child(2) {
    border-bottom: 2px solid #e0e0e0;
}

.adv2_warp div:nth-child(3) {
    border-right: 2px solid #e0e0e0;
}

.adv2_warp > div > figure {
    display: flex;
    justify-content: space-between;
}

.adv2_warp > div > figure > img {
    float: right;
    height: 1.9688rem;
    width: auto;
}

.adv2_warp > div > figure > figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adv2_warp > div > figure > figcaption > p:nth-child(1) {
    font-size: 0.3750rem;
    color: #353535;
    font-weight: bold;
}

.adv2_warp > div > figure > figcaption > p:nth-child(2) {
    font-size: 0.3125rem;
    color: #f68984;
}

.list {
    width: 100%;
    height: 9.9062rem;
    background-color: #efefef;
    padding-bottom: 0.3125rem;
}

.list_warp {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.listTop {
    height: 1.25rem;
    padding: 0.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.listTop i {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border: solid #f38631;
    border-width: 0.2500rem 0.1250rem 0.2500rem 0.1250rem;
}

.listTop img {
    width: 0.1563rem;
    height: 0.3125rem;
    vertical-align: middle;
}

.listTop span {
    vertical-align: middle;
}

.listTop p:nth-child(1) {
    font-size: 0.4375rem;
    font-weight: bold;
    color: #f38631;
}

.listTop p:nth-child(2) {
    font-size: 0.3438rem;
    color: #9f9f9f;
}

.list_logo {
    padding: 0 0.3125rem;
}

.list_logo img {
    width: 100%;
    height: 100%;
}

.listTotal {
    height: 6.2812rem;
    padding: 0.3125rem 0.1rem;
    box-sizing: border-box;
    display: flex;
}

.listTotal figure {
    width: 33.3333%;
    height: 100%;
    border-left: 2px solid #e0e0e0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    box-sizing: border-box;
}

.listTotalImg img {
    height: auto;
    width: 100%;
}

.listTotal figure:nth-child(1) {
    border: none;
}

.listTotalDetail {
    position: relative;
    left: -0.3rem;
}

.listTotalDetail p:nth-child(1) {
    font-size: 0.3438rem;
    padding: 0.1rem 0;
}

.listTotalDetail p:nth-child(2) span:nth-child(1) {
    font-size: 0.3125rem;
    color: #ff0000;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 0.1rem;
    padding: 0.0313rem 0.0938rem;
}

.listTotalDetail p:nth-child(2) span:nth-child(2) {
    font-size: 0.3125rem;
    color: #ffffff;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 0.1rem;
    padding: 0.0313rem 0.0938rem;
}

.listTotalDetail p:nth-child(3) {
    padding-top: 0.1rem;
    font-size: 0.3438rem;
    color: #999999;
}

.listTotalDetail p:nth-child(4) span {
    font-size: 0.3438rem;
    color: #ff3800;
}

.listTotalDetail p:nth-child(4) b {
    font-size: 0.3438rem;
    color: #999999;
    text-decoration: line-through;
}

.listTotalDetail p:nth-child(4) {
    position: relative;
}

.listTotalDetail p:nth-child(4):after {
    content: "+";
    display: inline-block;
    width: 0.8750rem;
    height: 0.8750rem;
    line-height: 0.8750rem;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    color: #ff4300;
    font-size: 0.3750rem;
    font-weight: 900;
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
}