body {
    margin: 0 auto;
    font-family: 微软雅黑;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 1.4063rem;
    width: 100%;
    background-color: #f9fafd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0 .1rem;
}

.header img {
    width: 0.6250rem;
    height: 0.6250rem;
}

.header > p {
    font-weight: bold;
    font-size: 0.4063rem;
}

.main {
    position: absolute;
    width: 10rem;
    bottom: 0;
    top: 1.4063rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: #efefef;
}

.share {
    width: 10rem;
    height: 4.3438rem;
    background: url("../../public/img/share.png");
    background-size: contain;
}

.active {
    width: 10rem;
    height: 2.1875rem;
    display: flex;
    border-bottom: 2px solid #ffffff;
}

.active_section {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-right: 2px solid #ffffff;
    background: #272c2a;
    text-align: center;
}

.active_section:last-child {
    border: none;
    background: #fdd000;
}

.active_section:last-child p {
    color: #303328;
}

.active_section p {
    font-size: 0.3750rem;
    color: #ffffff;
    margin: 0.1563rem 0;
}

.active_section p img {
    width: 0.5469rem;
    height: 0.5469rem;
}

.active_over {
    height: 1.2500rem;
    width: 10rem;
    border-bottom: 2px solid #f2f2f2;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.ready {
    width: 3.9844rem;
    height: 100%;
    background: #fdd000;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.ready:after {
    content: "";
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #fdd000;
    border-style: solid;
    border-width: 0.6250rem 0.3438rem 0.6250rem 0.3438rem;
    position: absolute;
    right: -0.6876rem;
    top: 0;
}

.ready p {
    font-size: 0.3750rem;
    color: #3a3831;
    text-align: center;
}

.ready p:last-child {
    font-size: .55rem;
}

.active_rules {
    width: 3.7500rem;
    margin: 0.1875rem 0.3125rem 0.1875rem 0;
    border-radius: 0.4688rem;
    background: #272c2a;
    font-size: 0.4063rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_list li {
    width: 10rem;
    height: 4.6875rem;
    margin-bottom: 0.1875rem;
    border-bottom: 1px dashed #f2f2f2;
    background-color: #ffffff;
    display: flex;
}

.list_img {
    width: 4.5000rem;
    height: 100%;
    border-right: 2px solid #eeeeee;
    box-sizing: border-box;
}

.list_img img {
    width: 100%;
    height: 100%;
}

.list_detail {
    flex: 1;
    padding: 0.5625rem 0 0.5625rem 0.4688rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list_detail p:nth-child(1), .list_detail p:nth-child(2) {
    font-size: 0.4375rem;
    color: #3c3c3c;
}

.list_detail p:nth-child(1) {

}

.list_detail p:nth-child(2) {
}

.list_detail p:nth-child(3) {
    font-size: 0.3750rem;
    margin: 0.1rem 0;
    color: #979697;
}

.list_detail p:nth-child(3) i {
    color: #ff602c;
    font-style: normal;
}

.list_detail p:nth-child(3) span {
    font-size: 0.6063rem;
    color: #ff602c;
    font-weight: bold;
}

.list_detail p:nth-child(4) {
    width: 3.5313rem;
    height: 0.9375rem;
    border-radius: 2rem;
    font-size: 0.4375rem;
    font-weight: bold;
    background-color: #ff602c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.false.false.false {
    color: #000000;
    background-color: #cccccc;
}